<html>
<body>
<h1>Before using QuanTB, follow the steps below to adapt it for your location.</h1> 
 
<h2>1. Go to the Medicines & Regimens menu and select Edit medicines.</h2>
<ul>
<li>QuanTB is installed with all of the medicines from the Global Drug Facility (GDF) catalogue.
<li>If this medicines list is not compatible with your location, update it. Refer to the QuanTB User's Guide for help.
</ul> 
<h2>2. Go to the Medicines & Regimens menu and select Edit treatment regimens.</h2>
<ul>
<li>QuanTB contains treatment regimen examples for training purposes only.
<li>Refer to the QuanTB User's Guide for information on how to enter your treatment regimens. 
</ul> 
<h2>3. After updating the Medicines and Treatment Regimens, you are ready to start using QuanTB.</h2>
<ul>
<li>To create a new quantification (forecasting), go to the File menu and select New.
<li>To open a saved quantification (forecasting), go to the File menu and select Open.
</ul>

<b>As you use QuanTB, save your work on a regular basis. QuanTB does not save data automatically. </b>
<p><a href='file://MainWindow.url.userguide'>Go to QuanTB User's Guide... </a>

</body>
</html>