<html>
<body>
<h1>在使用QuanTB之前, 请依照以下步骤来适应您地方上使用的需求.</h1> 
 
<h2>1. 请到“药品和治疗方案”选单选择“编辑药品”</h2>
<ul>
<li>QuanTB里所有的药品是根据全球药物基金(GDF)的目录.
<li>如果这个药品表与您地方上使用的不合, 请更新药品表. 详情请参考QuanTB用户指南.
</ul> 
<h2>2. 请到“药品和治疗方案”选单选择“编辑治疗方案”</h2>
<ul>
<li>QuanTB含有的治疗方案只是用来训练的范例.
<li>关于如何输入您地方上使用的治疗方案,请参考QuanTB用户指南.
</ul> 
<h2>3. 在更新药品和治疗方案之后, 您就可以开始使用QuanTB了.</h2>
<ul>
<li>要新增测算, 请到档案选单选择新增.  
<li>要开启一个已储存的测算, 请到档案选单选择开启.  
</ul>

<b>在使用QuanTB时, 请随时储存您的工作.QuanTB不会自动储存.</b>
<p><a href='file://MainWindow.url.userguide'>到QuanTB用户指南...</a>

</body>
</html>